<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "LocalBusiness",
        "name": "{{ client.name }}",
        {% if preloadImg %}"image": "{{ client.domain }}{{ preloadImg }}",{% endif %}
        {% if client.phones %}
            "telephone": [{%- for phone in client.phones -%}
                {% if not loop.first %},{% endif %}"{{ phone.numberForTel }}"
            {%- endfor -%}],
        {% endif %}
        {% if client.email %}"email": "{{ client.email }}",{% endif %}
        {% if client.locations %}
            "address": [{%- for location in client.locations -%}
                {% if not loop.first %},{% endif %}{
                    "@type": "PostalAddress",
                    "streetAddress": "{{ location.street }}",
                    "addressLocality": "{{ location.city }}",
                    "addressRegion": "{{ location.state }}"{% if location.postalCode %},
                    "postalCode": "{{ location.postalCode }}"{% endif %},
                    "addressCountry": "{{ location.country }}"
                }
            {%- endfor -%}],
        {% endif %}
        {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
        {% if client.socials %}
            "sameAs": [{%- for platform, url in client.socials -%}
                    {% if not loop.first %},{% endif %}"{{ url }}"
                {%- endfor -%}]
        {% endif %}
    }
</script>
