<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
    <div class="cs-container">
        <!--Nav Logo-->
        <a href="/" class="cs-logo" aria-label="Return to Mega Global Commerce Corporation Home page">
            <img src="/assets/svgs/mgcc-logo-header.webp" alt="Mega Global Commerce Corporation" width="240" height="163" decoding="async" fetchpriority="high">
        </a>
        <a href="/" class="cs-logo-text" id="cs-logo-text" aria-label="Return to Mega Global Commerce Corporation Home page">
            <p>Mega Global Commerce Corporation</p>
        </a>
        <!--Navigation List-->
        <nav class="cs-nav" aria-label="main navigation">
            <!--Mobile Nav Toggle-->
            <button class="cs-toggle" aria-label="mobile menu toggle" aria-expanded="false" aria-controls="cs-ul-wrapper" aria-haspopup="menu">
                <span class="cs-box" aria-hidden="true">
                    <span class="cs-line cs-line1"></span>
                    <span class="cs-line cs-line2"></span>
                    <span class="cs-line cs-line3"></span>
                </span>
            </button>
            <!-- We need a wrapper div so we can set a fixed height on the cs-ul in case the nav list gets too long from too many dropdowns being opened and needs to have an overflow scroll. This wrapper acts as the background so it can go the full height of the screen and not cut off any overflowing nav items while the cs-ul stops short of the bottom of the screen, which keeps all nav items in view no matter how mnay there are-->
            <div class="cs-ul-wrapper" id="cs-ul-wrapper">
                <ul class="cs-ul">
                    <li class="cs-li">
                        <a href="/" class="cs-li-link{% if page.url == "/" %} cs-active{% endif %}"{% if page.url == "/" %} aria-current="page"{% endif %}>
                            Home
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="/about/" class="cs-li-link{% if page.url == "/about/" %} cs-active{% endif %}"{% if page.url == "/about/" %} aria-current="page"{% endif %}>
                            About
                        </a>
                    </li>
                    <!--Copy and paste this cs-dropdown list item and replace any .cs-li with this cs-dropdown group to make a new dropdown and it will work-->
                    <!-- Note: When copying this dropdown, update the id attribute with an appropriate name (e.g., "services-dropdown-toggle", "products-dropdown-toggle") and ensure the aria-labelledby attribute on the ul matches the button's id -->
                    <li class="cs-li cs-dropdown">
                        <button class="cs-li-link cs-dropdown-toggle{% if "/services/" in page.url %} cs-active{% endif %}" aria-haspopup="menu" aria-expanded="false"{% if "/services/" in page.url %} aria-current="page"{% endif %} id="service-dropdown-toggle">
                            Services
                            <img class="cs-drop-icon" src="/assets/svgs/dropdown.svg" alt="" width="15" height="15" decoding="async" aria-hidden="true">
                        </button>
                        <ul class="cs-drop-ul" aria-labelledby="service-dropdown-toggle">
                            <li class="cs-drop-li">
                                <a href="/services/import-export/" class="cs-li-link cs-drop-link{% if page.url == "/services/import-export/" %} cs-active{% endif %}"{% if page.url == "/services/import-export/" %} aria-current="page"{% endif %}>Import & Export</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/services/supply-chain-logistics/" class="cs-li-link cs-drop-link{% if page.url == "/services/supply-chain-logistics/" %} cs-active{% endif %}"{% if page.url == "/services/supply-chain-logistics/" %} aria-current="page"{% endif %}>Supply Chain & Logistics</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/services/trade-compliance/" class="cs-li-link cs-drop-link{% if page.url == "/services/trade-compliance/" %} cs-active{% endif %}"{% if page.url == "/services/trade-compliance/" %} aria-current="page"{% endif %}>Trade Compliance</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/services/global-sourcing/" class="cs-li-link cs-drop-link{% if page.url == "/services/global-sourcing/" %} cs-active{% endif %}"{% if page.url == "/services/global-sourcing/" %} aria-current="page"{% endif %}>Global Sourcing & Solutions</a>
                            </li>
                        </ul>
                    </li>
                    <li class="cs-li">
                        <a href="/blog/" class="cs-li-link{% if page.url == "/blog/" or "/blog/" in page.url %} cs-active{% endif %}"{% if page.url == "/blog/" or "/blog/" in page.url %} aria-current="page"{% endif %}>
                            Blog
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="/contact/" class="cs-li-link{% if page.url == "/contact/" %} cs-active{% endif %}"{% if page.url == "/contact/" %} aria-current="page"{% endif %}>
                            Contact Us
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <a href="/contact/" class="cs-button-solid cs-nav-button">Contact Us</a>
    </div>
</header>
